<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>General Settings</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="/admin">Home</a></li>
          <li class="breadcrumb-item active">General Settings</li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-12">
        <!-- general form elements -->
        <div class="card">
          <!-- /.card-header -->
          <!-- form start -->
          <% const {data} = await db.settingsService.getSettings(); %>
          <script>
            window.bluga = { ...window.bluga, favicon: '<%= data?.favicon %>' };
          </script>

          <form
            x-data="faviconViewer()"
            action="<%= appLink %>api/settings"
            method="post"
            enctype="multipart/form-data"
          >
            <div class="card-body">
              <div class="form-group">
                <label for="blogName">Blog Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="blogName"
                  name="blogName"
                  placeholder="Blog Name"
                  value="<%= data?.name %>"
                />
              </div>
              <div class="form-group">
                <label for="blogDescription">Description</label>
                <textarea
                  style="resize: none"
                  id="blogDescription"
                  name="blogDescription"
                  class="form-control"
                  rows="3"
                  placeholder="Description"
                >
<%= data?.description %></textarea
                >
              </div>
              <div class="form-group">
                <label for="blogFavicon">Favicon</label>
                <div class="input-group">
                  <div class="">
                    <input
                      :class="showFileError ? 'is-invalid' : ''"
                      class="favicon-thumbnail-input"
                      name="blogFavicon"
                      id="blogFavicon"
                      type="file"
                      accept="image/*"
                      @change="fileChosen"
                    />
                    <label for="blogFavicon" class="d-block">
                      <template x-if="!imageUrl">
                        <div class="favicon-thumbnail favicon-thumbnail-add">
                          <i class="fa fa-plus" aria-hidden="true"></i>
                        </div>
                      </template>
                      <template x-if="imageUrl">
                        <img class="favicon-thumbnail" :src="imageUrl" src="<%= data?.favicon %>" />
                      </template>
                    </label>
                  </div>

                  <div :class="showFileError ? 'd-block' : 'd-none'" class="invalid-feedback">
                    favicon size can not be greater than 500kb
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-body -->

            <div class="card-footer">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
        <!-- /.card -->
      </div>
      <!--/.col (left) -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
<!-- /.content -->
