<nav class="navigation">
  <div class="navigation__wrapper">
    <a href="<%= appLink %>" class="navigation__logo"><%= app %></a>
    <button class="navigation__hamburger">
      <img src="<%= themePath() %>/assets/navigation.svg" alt="hamburger" class="navigation__hamburger--icon" />
    </button>
    <div class="navigation__container">
      <button class="navigation__close">
        <i data-feather="x" class="navigation__close--icon"></i>
      </button>
      <ul class="navigation__list">
        <li class="navigation__item">
          <a href="<%= appLink %>" class="navigation__link">Home</a>
        </li>
        <li class="navigation__item">
          <a href="<%= appLink %>" class="navigation__link">Blog</a>
        </li>
        <li class="navigation__item">
          <a href="<%= appLink %>" class="navigation__link">About Us</a>
        </li>
      </ul>
      <ul class="navigation__cta">
        <li class="navigation__cta--list">
          <a href="<%= appLink %>" class="navigation__cta--link">Log in</a>
        </li>
        <li class="navigation__cta--list">
          <a href="<%= appLink %>" class="btn">Sign Up</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
