<%- include('../components/header') %> <%- include('../components/navbar') %>
<div class="container">
  <main>
    <!--                 Filter                    -->

    <div class="posts-filter">
      <div class="posts-filter__container">
        <button class="posts-filter__btn left" onclick="handleScrollLeft()">
          <i data-feather="chevron-left" class="posts-filter__icon"></i>
        </button>
        <div class="posts-filter__wrapper">
          <p class="posts-filter__tag active">All</p>
          <p class="posts-filter__tag">Design</p>
          <p class="posts-filter__tag">Product</p>
          <p class="posts-filter__tag">Development</p>
          <p class="posts-filter__tag">Engineering</p>
          <p class="posts-filter__tag">Management</p>
          <p class="posts-filter__tag">Leadership</p>
          <p class="posts-filter__tag">Web3</p>
          <p class="posts-filter__tag">Crypto</p>
          <p class="posts-filter__tag">Lifestyle</p>
          <p class="posts-filter__tag">Lifestyle</p>
          <p class="posts-filter__tag">Lifestyle</p>
          <p class="posts-filter__tag">Lifestyle</p>
          <p class="posts-filter__tag">Lifestyle</p>
        </div>
        <button class="posts-filter__btn right" onclick="handleScrollRight()">
          <i data-feather="chevron-right" class="posts-filter__icon"></i>
        </button>
      </div>
    </div>

    <!--              Projects section             -->

    <section class="posts">
      <div class="posts__container">
        <div class="recent-post__card">
          <div class="recent-post__image--container">
            <img src="<%= themePath() %>/assets/post-img.png" alt="post" class="recent-post__image" />
          </div>
          <% if (contents[0]) { %>
          <div class="recent-post__card--container">
            <div class="recent-post__card--info">
              <img src="<%= themePath() %>/assets/post-img.png" alt="avatar" class="recent-post__card--avatar" />
              <div class="recent-post__card--details">
                <p class="recent-post__card--username">Cavdy Ogbuefi</p>
                <p class="recent-post__card--timeframe">
                  <%= new Date(contents[0]?.createdAt)?.toLocaleDateString("en-US", {month: "long",day: "numeric",year:
                  "numeric"}) %>
                </p>
              </div>
            </div>
            <div class="recent-post__card--brief">
              <a href="<%= contents[0].slug %>" class="heading recent-post__card--heading"><%= contents[0].title %></a>
              <p class="recent-post__card--sub">
                Boosting self-actualization through perception, practice and communication.
              </p>
            </div>
            <div class="recent-post__card--box">
              <div class="recent-post__card--tags">
                <p class="recent-post__card--tag">Design</p>
                <p class="recent-post__card--tag">Career</p>
                <p class="recent-post__card--tag">Psychology</p>
              </div>
              <div class="recent-post__card--cta">
                <button class="recent-post__card--cta-btn">
                  <i data-feather="bookmark" class="post__icon" style="stroke-width: 1.5px"></i>
                </button>
                <button class="recent-post__card--cta-btn">
                  <i data-feather="more-vertical" class="post__icon"></i>
                </button>
              </div>
            </div>
          </div>
          <% } %>
        </div>
        <div class="posts__wrapper">
          <% for(var i=1; i < contents.length; i++) { %>
          <div class="post__card">
            <div class="post__image--container">
              <img src="<%= themePath() %>/assets/post-image.jpg" alt="post" class="post__image" />
            </div>
            <div class="post__card--container">
              <div class="post__card--info">
                <img src="<%= themePath() %>/assets/post-img.png" alt="avatar" class="post__card--avatar" />
                <div class="post__card--details">
                  <p class="post__card--username">Cavdy Ogbuefi</p>
                  <p class="post__card--timeframe">
                    <%= new Date(contents[i].createdAt).toLocaleDateString("en-US", {month: "long",day: "numeric",year:
                    "numeric"}) %>
                  </p>
                </div>
              </div>
              <div class="post__card--brief">
                <a href="<%= contents[i].slug %>" class="heading post__card--heading"><%= contents[i].title %></a>
                <p class="post__card--sub">
                  Boosting self-actualization through perception, practice and communication.
                </p>
              </div>
              <div class="post__card--box">
                <div class="post__card--tags">
                  <p class="recent-post__card--tag">Design</p>
                  <p class="recent-post__card--tag">Career</p>
                  <p class="recent-post__card--tag">Psychology</p>
                </div>
                <div class="post__card--cta">
                  <button class="post__card--cta-btn">
                    <i data-feather="bookmark" class="post__icon" style="stroke-width: 1.5px"></i>
                  </button>
                  <button class="post__card--cta-btn">
                    <i data-feather="more-vertical" class="post__icon"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </section>

    <!--        Pagination        -->

    <div class="pagination">
      <div class="pagination__container">
        <button class="pagination__control--btn prev" disabled>
          <i data-feather="chevron-left" class="pagination__icon"></i>
        </button>
        <button class="pagination__btn active">1</button>
        <button class="pagination__btn">2</button>
        <button class="pagination__control--btn next">
          <i data-feather="chevron-right" class="pagination__icon"></i>
        </button>
      </div>
    </div>
  </main>
</div>

<div class="sub-footer">
  <h2 class="heading sub-footer__heading">Get the latest <span><%= page %></span></h2>
  <p class="sub-footer__sub">We'll keep you updated on the latest posts</p>
  <form action="" class="sub-footer__form">
    <div class="sub-footer__form--container">
      <input type="email" class="sub-footer__input" placeholder="Enter your email address" />
      <button class="btn sub-footer__btn">Subscribe</button>
    </div>
  </form>
</div>
<%- include('../components/footer') %>
