<%- include('components/header') %> <%- include('components/sidebar') %>
<div class="flex-1 bg-main-light dark:bg-main-dark"><%- include('components/navbar') %> <%- body %></div>
<%- include('components/footer') %>
