<% 
  const subDirectory = tools.subDirectory;
  let styleLinks = "";
  header?.forEach(function(style){
    if (style.startsWith('http')) {
      styleLinks += `<link type="text/css" rel="stylesheet" href="${style}">`;
    } else {
      styleLinks += `<link type="text/css" rel="stylesheet" href="${subDirectory}${style}">`;
    }
  })
%>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" CONTENT="noindex,nofollow" />
  <title>Bluga | <%= page %></title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <link rel="stylesheet" href="<%- tools.subDirectory %>/public/plugins/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="<%- tools.subDirectory %>/public/dist/css/adminlte.min.css">
  <link rel="stylesheet" href="<%- tools.subDirectory %>/public/styles/global.css">
  <%- styleLinks %>
  <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
</head>
<body class="hold-transition sidebar-mini">
  <div class="wrapper">
