<!-- Main Sidebar Container -->
<aside x-data class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="/admin" class="brand-link">
    <!-- <img
      src="dist/img/AdminLTELogo.png"
      alt="AdminLTE Logo"
      class="brand-image img-circle elevation-3"
      style="opacity: 0.8"
    /> -->
    <span class="brand-text font-weight-light">Bluga</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel d-flex mt-3 mb-3 pb-3">
      <!-- <div class="image">
        <img src="dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image" />
      </div> -->
      <div class="info">
        <a href="#" class="d-block text-capitalize"><%= user.username %></a>
      </div>
    </div>

    <!-- SidebarSearch Form -->
    <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search" />
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- loop through sidebar -->
        <% sidebarLinks.forEach((sidebarLink) => { %>
        <!-- if sidebarLink -->
        <% if (sidebarLink.sidebar) { %>
        <!-- if sidebarLink has children -->
        <% if (sidebarLink?.children) { %>
        <li class="nav-item <%= currentPage.startsWith(sidebarLink.to) && 'menu-open' %>">
          <a href="#" class="nav-link <%= currentPage.startsWith(sidebarLink.to) && 'active' %>">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              <%= sidebarLink.name %>
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <% sidebarLink.children.forEach((childLink) => { %> <% if (childLink.sidebar) { %>
            <li class="nav-item">
              <a
                href="<%= sidebarLink.to %><%= childLink.to %>"
                class="nav-link <%= currentPage === sidebarLink.to + childLink.to && 'active' %>"
              >
                <i class="far fa-circle nav-icon"></i>
                <p><%= childLink.name %></p>
              </a>
            </li>
            <!-- close if block -->
            <% } %>
            <!-- end loop -->
            <% }) %>
          </ul>
        </li>
        <!-- else render sidebar link -->
        <% } else { %>
        <li class="nav-item">
          <a href="<%= sidebarLink.to %>" class="nav-link <%= currentPage === sidebarLink.to && 'active' %>">
            <i class="nav-icon fas fa-th"></i>
            <p><%= sidebarLink.name %></p>
          </a>
        </li>
        <!-- closing else block -->
        <% } %>
        <!-- closing if block -->
        <% } %>
        <!-- closing loop block -->
        <% }) %>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
