<aside
  x-data
  :class="$store.sidebar.show ? '!ml-0' : '!ml-[-240px]'"
  class="sidebar-light sidebar w-60 min-w-[240px] p-4 shadow-xl shadow-white transition-all dark:bg-sidebar-dark"
  aria-label="Sidebar"
>
  <div class="mb-4 flex items-center">
    <img class="h-auto w-auto max-w-full" src="/public/img/logo.png" alt="" />
  </div>
  <ul class="space-y-2">
    <% sidebarLinks.forEach((sidebarLink) => { %> <% if (sidebarLink.sidebar) { %> <% if (sidebarLink.children) { %>
    <li x-data="{ open: false }">
      <button
        @click="open = !open"
        type="button"
        class="<%= currentPage.startsWith(sidebarLink.to) ? 'bg-green font-medium': 'font-normal dark:text-sidebar-link-dark' %> flex w-full items-center rounded-lg p-2 text-base text-gray-900 transition duration-75 hover:bg-green hover:font-medium hover:dark:text-gray-900"
        aria-controls="dropdown-<%= sidebarLink.name %>"
        data-collapse-toggle="dropdown-<%= sidebarLink.name %>"
      >
        <span class="ml-3 flex-1 whitespace-nowrap text-left"><%= sidebarLink.name %></span>
        <svg
          sidebar-toggle-item
          class="h-6 w-6 transition-transform"
          :class="open ? 'rotate-0' : '-rotate-90'"
          x-cloak
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
            clip-rule="evenodd"
          ></path>
        </svg>
      </button>
      <ul
        x-cloak
        id="dropdown-<%= sidebarLink.name %>"
        :class="open ? 'py-2 h-auto visible opacity-100' : 'py-0 opacity-0 h-0 invisible'"
        class="space-y-2 transition-all"
      >
        <% sidebarLink.children.forEach((childLink) => { %> <% if (childLink.sidebar) { %>
        <li>
          <a
            href="<%= sidebarLink.to %><%= childLink.to %>"
            class="flex w-full items-center rounded-lg p-2 pl-11 text-base font-normal text-gray-900 hover:bg-gray-100 dark:text-sidebar-link-dark dark:hover:bg-gray-700"
            ><span class="<%= currentPage === sidebarLink.to + childLink.to && 'border-b-2 border-b-green' %>"
              ><%= childLink.name %></span
            ></a
          >
        </li>
        <% } %> <% }) %>
      </ul>
    </li>
    <% } else { %>
    <li>
      <a
        href="<%= sidebarLink.to %>"
        class="<%= currentPage === sidebarLink.to ? 'bg-green font-medium': 'font-normal dark:text-sidebar-link-dark' %> flex items-center rounded-lg p-2 text-base text-gray-900 hover:bg-green hover:font-medium hover:dark:text-gray-900"
      >
        <svg
          aria-hidden="true"
          class="h-6 w-6"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path>
          <path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path>
        </svg>
        <span class="ml-3"><%= sidebarLink.name %></span>
      </a>
    </li>
    <% } %> <% } %> <% }) %>
  </ul>
</aside>
