<!-- Content Header -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Contents</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="/admin">Home</a></li>
          <li class="breadcrumb-item active">Contents</li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content" x-data>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <!-- <h3 class="card-title">Simple Full Width Table</h3> -->

            <div class="d-flex align-items-center card-tools">
              <button
                x-bind:disabled="!$store.contentLists.ids.length"
                type="button"
                class="btn btn-danger btn-sm mr-2"
                data-toggle="modal"
                data-target="#content-delete-modal"
              >
                Delete
              </button>

              <ul class="pagination pagination-sm float-right">
                <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
              </ul>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body p-0">
            <% const contents = await db.contentService.getAdminContents(); %>
            <table class="table">
              <thead>
                <tr>
                  <th style="width: 10px">
                    <div class="form-check">
                      <input
                        @click="$store.contentLists.checkAll()"
                        class="form-check-input"
                        type="checkbox"
                        x-model="$store.contentLists.selectAll"
                      />
                      <label class="form-check-label"></label>
                    </div>
                  </th>
                  <!-- loop through the contents heading -->
                  <% for (let heading of contents.data.headings) { %>
                  <th><%= heading.value %></th>
                  <% } %>
                </tr>
              </thead>
              <tbody>
                <!-- loop through the contents -->
                <% for (let content of contents.data.contents) { %>
                <tr>
                  <td>
                    <div class="form-check">
                      <input
                        class="form-check-input content-list-check"
                        value="<%= content.id %>"
                        type="checkbox"
                        x-model="$store.contentLists.ids"
                      />
                      <label class="form-check-label"></label>
                    </div>
                  </td>
                  <td>
                    <a href="<%= appLink %>admin/contents/edit/<%= content.id %>"><%= content.title %></a>
                  </td>
                  <td class="border-dashed border-t border-gray-200 status">
                    <span class="text-capitalize"><%= content.status %></span>
                  </td>
                  <td class="border-dashed border-t border-gray-200 status">
                    <span class="text-capitalize"><%= content.category?.name %></span>
                  </td>
                  <td class="border-dashed border-t border-gray-200 createdAt">
                    <span class="text-capitalize"><%= tools.utils.dateFormatter(content.createdAt) %></span>
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->

  <div class="modal fade" id="content-delete-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Delete Contents</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete selected contents?</p>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" @click.prevent="$store.contentLists.deleteContent()">
            Delete
          </button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
</section>
