<!-- Content Header -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Contents</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="/admin">Home</a></li>
          <li class="breadcrumb-item active">Contents</li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <!-- <h3 class="card-title">Simple Full Width Table</h3> -->

            <div class="card-tools">
              <ul class="pagination pagination-sm float-right">
                <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
              </ul>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body p-0">
            <% const contents = await db.contentService.getAdminContents(); %>
            <table class="table">
              <thead>
                <tr>
                  <!-- loop through the contents heading -->
                  <% for (let heading of contents.data.headings) { %>
                  <th><%= heading.value %></th>
                  <% } %>
                </tr>
              </thead>
              <tbody>
                <!-- loop through the contents -->
                <% for (let content of contents.data.contents) { %>
                <tr>
                  <td>
                    <a href="/admin/contents/edit/<%= content.id %>"><%= content.title %></a>
                  </td>
                  <td class="border-dashed border-t border-gray-200 status">
                    <span class=""><%= content.status %></span>
                  </td>
                  <td class="border-dashed border-t border-gray-200 createdAt">
                    <span class=""><%= tools.utils.dateFormatter(content.createdAt) %></span>
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
